beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
clarifai==2.6.2
configparser==4.0.2
cryptography==2.8
decorator==4.4.1
EasyProcess==0.2.10
emoji==0.5.4
future==0.18.2
googleapis-common-protos==1.51.0
grpcio==1.27.2
idna==2.8
instapy==0.6.8
jsonschema==2.6.0
MeaningCloud-python==1.2.1
plyer==1.4.2
protobuf==3.11.3
pycparser==2.19
python-telegram-bot==12.4.2
PyYAML==5.3
regex==2020.1.8
requests==2.22.0
selenium==3.141.0
six==1.14.0
soupsieve==1.9.5
tornado==6.0.3
tqdm==4.42.1
urllib3==1.25.8
webdriverdownloader==1.1.0.3